---
---
@charset "utf-8";

$max-width: 800px;

body {
    color: black;
    background: white;
    font-family: 'Sorts Mill Goudy', Georgia, Times New Roman, Times, serif;
    font-size: 16px;
    font-size-adjust: none;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    vertical-align: middle;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-position: outside;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li {
    margin-bottom: 0.5em;
}

a {
    background: transparent;
    color: rgb(0,0,128);
    text-decoration: none;
}

a:hover {
    background: transparent;
    color: rgb(200,0,0);
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Verdana', sans-serif;
    font-family: 'Sorts Mill Goudy', Georgia, Times New Roman, Times, serif;
    color: rgb(0,0,128);
    padding: 0;
    margin: 1em 0;
}

h1 {
    font-size: 200%;
    background: transparent;
    text-align: left;
    padding: 0;
    padding-top: 0.5em;
}

h2 {
    font-size: 180%;
    background: transparent;
    text-align: left;
    padding: 0;
    padding-top: 0.5em;
}

h3 {
    font-size: 160%;
    background: transparent;
    text-align: left;
}

h4 {
    font-size: 140%;
    background: transparent;
    text-align: left;
}

h5 {
    font-size: 120%;
    background: transparent;
    text-align: left;
}

h6 {
    font-size: 100%;
    background: transparent;
    text-align: left;
}

hr {
    width: 90%;
    color: rgb(0,0,128);
    border: none;
    border-bottom: 1px solid;
}

p, blockquote, ul, ol, dl {
    margin: 1.2em 0;
    font-size: 100%;
    text-align: justify;
}

blockquote {
    font-style: italic;
    padding: 0 2em;
}

blockquote p.attrib {
    text-align: right;
    font-weight: bold;
    font-style: normal;
    font-size: 80%;
}

code {
    font-family: 'Source Code Pro', monospace;
}

pre {
    padding: 1em;
    font-family: 'Source Code Pro', monospace;
    background: rgb(225,225,255);
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 2em;
}

td {
    vertical-align: top;
    padding: 0.5em;
}

img {
    margin: 1em;
    border: 1px solid black;
    max-width: 100%;
}

img.right {
    float: right;
}

a.footnote {
    font-size: 80%;
    vertical-align: top;
    font-weight: bold;
}

ol.footnotes {
    border-top: 1px solid;
}

table {
    table-layout: fixed;
    width: 100%;
    padding: 1em;
}

table td {
    padding: 0;
}

a.read-more {
    display: block;
    text-align: right;
    text-decoration: none;
}

a.read-more:after {
    content: '...';
}

img.avatar {
    float: left;
    margin: 1em;
    border: 1px solid black;
}

body > header {
    background: rgb(0,0,128);
    background: url(heading.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    color: white;
    font-family: 'Open Sans', 'Verdana', sans-serif;
}

body > header > * {
    max-width: $max-width;
    margin: 0 auto;
}

body > header a {
    text-decoration: none;
    color: white;
}

body > header > h1 {
    padding: 2em 0 1em;
    font-size: 3em;
    font-variant: none;
    border: 0;
}

body > header > nav {
    padding: 0;
}

body > header > nav > ul {
    margin: 0;
    padding: 0;
}

body > header > nav > ul > li {
    padding: 0 0.5em;
    list-style-type: none;
    display: inline;
}

body > header > nav > ul > li + li {
    border-left: 1px solid white;
}

body > main {
    max-width: $max-width;
    margin: 0 auto;
}

article {
    margin: 0 1em;
}

article > header {
    margin: 0 0 1em;
    padding: 2em;
    text-align: center;
}

article > header > h1 {
    margin: 0;
    font-size: 300%;
    font-weight: normal;
    background: transparent;
    text-align: center;
    padding: 0;
    border: 0;
}

article > header > h1 > a {
    text-decoration: none;
}

article > header > p.subtitle {
    margin: 0.5em 0;
    font-style: italic;
    text-align: center;
}

article > header > p.byline {
    margin: 0.5em 0 0;
    font-size: 80%;
    text-align: center;
    color: rgb(85,85,85);
}

article > header > ul.tags {
    margin: 0.5em 0;
    padding: 0;
    font-size: 80%;
    color: rgb(85,85,85);
    display: none;
}

article > header > ul.tags:before {
    content: 'Tags: ';
}

article > header > ul.tags > li {
    padding: 0;
    list-style-type: none;
    display: inline;
}

.index > article > header {
    text-align: left;
    margin: 0;
    padding: 0;
}

.index > article > header > h1 {
    font-size: 200%;
    text-align: left;
}

.index > article > header > p.subtitle {
    margin: 0.5em 0;
    font-style: italic;
    text-align: left;
}

.index > article > header > p.byline {
    margin: 0;
    font-size: 80%;
    text-align: left;
    color: rgb(85,85,85);
}

article > p:first-child {
    background: yellow;
}

.article-body > p:first-of-type:first-letter {
    float: left;
    padding: 0 5px;
    font-size: 4em;
    line-height: 1.1;
}

.article-body > hr + p:first-letter {
    float: left;
    padding: 0 5px;
    font-size: 4em;
    line-height: 1.1;
}

body > footer {
    background: cyan;
}

.read-more {
    display: block;
    text-align: right;
    text-decoration: none;
}

.read-more:after {
    content: '...';
}

.pagination {
    margin: 1em;
    text-align: center;
}

img.avatar {
    float: left;
    margin: 1em;
    border: 1px solid black;
}

@media (max-width: 50em) {
    body > header {
        background: blue;
    }
}
