---
---
@charset "utf-8";

$left-padding: 200px;

body {
    color: black;
    background: white;
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    vertical-align: middle;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 0;
}

body > header {
    background: red;
    margin: 0;
    padding: 0;
    padding-left: $left-padding;
}

body > header a {
    text-decoration: none;
}

body > header > h1 {
    margin: 0;
    padding: 0;
}

body > header > nav {
    margin: 0;
    padding: 0;
}

body > header > nav > ul {
    margin: 0;
    padding: 0;
}

body > header > nav > ul > li {
    padding: 0 5px;
    list-style-type: none;
    display: inline;
}

body > header > nav > ul > li + li {
    border-left: 1px solid black;
}

body > main {
    width: 800px;
    left: $left-padding;
    position: relative;
}

article {
    padding: 1em 0;
/*    border-top: 1px solid black;*/
}

article > header {
/*    background: yellow;*/
}

article > header > h1 {
    margin: 0;
}

article > header > h1 > a {
    text-decoration: none;
}

article > header > p.byline {
    margin: 5px 0 0;
    font-size: 9px;
    color: rgb(85,85,85);
}

article > header > ul.tags {
    margin: 0;
    padding: 0;
    font-size: 9px;
    color: rgb(85,85,85);
}

article > header > ul.tags:before {
    content: 'Tags: ';
}

article > header > ul.tags > li {
    padding: 0;
    list-style-type: none;
    display: inline;
}

article > article-description {
    background: rgb(128,128,128);
}

body > footer {
    background: cyan;
}

a.read-more {
    display: block;
    text-align: right;
    text-decoration: none;
}

a.read-more:after {
    content: '...';
}
