---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 itemprop="name headline">{{ page.title }}</h1>

    <p class="byline"><time itemprop="datePublished">{{ page.date | date: "%d %B, %Y" }}</time>
    {% if page.author %}{% assign author_data = site.authors | where:"author", page.author %}{% assign author = author_data | first %}
    by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><a href="{{ author.url | prepend: site.baseurl }}" itemprop="name">{{ author.name | default: page.author }}</a></span>
    {% endif %}
    </p>

    {% if page.tags.size > 0 %}
    <ul class="tags">
    {% for tag in page.tags %}
      <li>{{ tag }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  </header>

  {% if page.excerpt %}{% unless page.content contains '<!--more-->' %}
  <div class="article-description" itemprop="description">
    {{ page.excerpt | markdownify }}
  </div>
  {% endunless %}{% endif %}

  <div class="article-body" itemprop="articleBody">
    {{ page.content }}
  </div>

</article>
